* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: darkgray;
}
.nav-bar {
  background-color: #1d1463;
  color: white;
  padding: 16px;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-items a {
  color: white;
  text-decoration: none;
}
.card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;

  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: transparent;
}

.card-image {
  flex-shrink: 0;
  width: 128px;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

.card-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-items h3 {
  font-size: 1.6rem;
  margin: 0;
}

.card-items p {
  font-size: 1.2rem;
  margin: 0;
}

.precio {
  font-size: 1.3rem;
  font-weight: bold;
}
.footer {
  margin-top: 40px;
  padding: 16px;
  background-color: #1d1463;
  color: white;
  text-align: center;
}

.footer p {
  font-size: 0.9rem;
}
